{% extends 'side-menu.html' %}
{% load static %}

{% block content %}

<br>
<br>
<br>
<h3>Товары</h3>
<div class="container mt-5">
    <!-- Вкладки -->
    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link active" href="#">Товары</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'brand' %}">Бренды</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'producers' %}">Поставщики</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'category' %}">Категории</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'deal' %}">Прибытие</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'decrease' %}">Убытие</a>
        </li>
    </ul>

    <!-- Фильтр и строка поиска -->
    <form method="get" action="{% url 'products' %}" class="mb-4">
        <div class="row mb-4">
            <div class="col-md-6">
                <input type="text" name="q" value="{{ query }}" class="form-control" placeholder="Поиск...">
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-dark">Найти</button>
            </div>
        </div>
    </form>
    <br>

    <!-- Форма добавления торговой точки -->
    <div class="row">
        <div class="col-md-6">
            <h3>Добавить товар</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
        </div>
        <div class="col-md-6">
            <h3>Список добавленных товаров</h3>
            <ul class="list-group">
                {% for p in product %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="badge text-bg-warning mr-3" style="margin-right: 10px;">{{ forloop.counter }}</span>
                    <span style="flex-grow: 1; margin-right: 10px;">{{ p.name }}: <span style="color: green;">{{ p.quantity }}</span> шт.</span>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-outline-primary">Изменить</a>
                        <a class="btn btn-outline-danger" href="{% url 'delete_products' p.pk %}">Удалить</a>
                    </div>
                </li>
                {% endfor %}
            </ul>

            <div class="mt-4">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
    
                        {% for num in page_obj.paginator.page_range %}
                            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                                <a class="page-link" href="?page={{ num }}{% if query %}&q={{ query }}{% endif %}">{{ num }}</a>
                            </li>
                        {% endfor %}
    
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            
        </div>
    </div>

</div>
<br>
<br>
<br>
{% endblock %}