{% extends 'side-menu.html' %}
{% load static %}

{% block content %}

<br>
<br>
<br>
<h3>Изменить торговую точку</h3>
<div class="container mt-5">
    <!-- Вкладки -->
    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link active" href="#">Торговые точки</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'promotions' %}">Акции</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">Аналитика</a>
        </li>
    </ul>
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>



    </div>
    <br>
    <br>

    {% endblock %}